<footer class="footer">
  <small>
    Created by Benjamin Kim<br>
    <a href="https://www.linkedin.com/in/benjamin-k-740412149/">LinkedIn</a><br>
    <a href="https://github.com/benjaminykim">Github</a><br>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
